// Les styles ici se trouvent à la racine du site web.
// Ici se trouve aussi toutes mes variables root (racine).

:root {

    // Les couleurs
    .theme-clair {

      --couleur-principale: #A296CA;
      --couleur-secondaire: #4A1C44;
      --couleur-accent: #EFDCDF;
      --couleur-fond: #B9B8C6;
      --couleur-texte: #1C161D;
      --couleur-hover: #Af83AA;
      --couleur-fond-section-accueil: #D1C1CF;
      --couleur-fond-section: #F3F0FF;

    }

    .theme-sombre {

      --couleur-principale: #413569;
      --couleur-secondaire: #E3B5DD;
      --couleur-accent: #231013;
      --couleur-fond: #3A3947;
      --couleur-texte: #E8E2E9;
      --couleur-hover: #7C5077;
      --couleur-fond-section-accueil: #251820;
      --couleur-fond-section: #282437;

    }

    // Les tailles des caractères
    --taille-mobile-texte: 16px;
    --taille-tablette-texte: 20px;
    --taille-bureau-texte: 28px;
  
    --taille-mobile-titre: 34px;
    --taille-tablette-titre: 44px;
    --taille-bureau-titre: 54px;

}

  * {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    &::selection {
      color: var(--couleur-texte);
      background-color: var(--couleur-accent);
    }

    ::-webkit-scrollbar {
      width: 0.5rem;
    }

    ::-webkit-scrollbar-track {
      background: var(--couleur-secondaire);
    }

    ::-webkit-scrollbar-thumb {
      background: var(--couleur-accent);
    }

    ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
      background: #8C5A6D;
    }
  }

  body, html {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--couleur-fond);
    overflow-x: hidden;
    height: 100dvh;
    position: relative;
    font-size: var(--taille-mobile-texte);

    @media screen and (min-width: 768px) {
      font-size: var(--taille-tablette-texte);
    }

    @media screen and (min-width: 992px) {
      font-size: var(--taille-bureau-texte);
    }
  }

  h1 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--taille-mobile-titre);

    @media screen and (min-width: 768px) {
      font-size: var(--taille-tablette-titre);
    }
  
    @media screen and (min-width: 992px) {
      font-size: var(--taille-bureau-titre);
    }
  }

  h2 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--taille-mobile-titre);
    color: var(--couleur-secondaire);

    @media screen and (min-width: 768px) {
      font-size: var(--taille-tablette-titre);
    }
  
    @media screen and (min-width: 992px) {
      font-size: var(--taille-bureau-titre);
    }
  }

  p {
    color: var(--couleur-texte);
  }

  section {
    width: 100dvw;
  }

  li::marker {
    color: var(--couleur-accent);
  
    @media screen and (min-width: 768px) {
      font-size: var(--taille-tablette-titre);
    }
  
    @media screen and (min-width: 992px) {
      font-size: var(--taille-bureau-titre);
    }
  }
  
  a {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .bouton {
    background-color: var(--couleur-principale);
    color: #FFFFFF;
    border: none;
    border-radius: 0.1rem;
    height: 5dvw;
    width: 55dvw;
    cursor: pointer;
    display: flex;
    flex-direction: unset;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    text-decoration: none;
    transition: background-color 100ms linear;
  
    &:hover {
      background-color: var(--couleur-hover);
      text-decoration: underline;
    }

    @media screen and (min-width: 361px) {
      width: 24dvw;
    }

    @media screen and (min-width: 768px) {
      width: 22dvw;
    }

    @media screen and (min-width: 1200px) {
      height: 3dvw;
      width: 12dvw;
    }
  }

  .bouton-bg-seulement {
    background-color: var(--couleur-principale);
    color: #FFFFFF;
    border: none;
    border-radius: 0.1rem;
    cursor: pointer;
    padding: 0.1rem;
    text-decoration: none;
    transition: background-color 100ms linear;
  
    &:hover {
      background-color: var(--couleur-hover);
      text-decoration: underline;
    }
  }